#loginContainer {
  background: url("/LoginPage/LoginBg.jpg");
  background-size: "cover";
  background-repeat: "no-repeat";
  background-position: "center";
  min-height: "100vh";
  overflow: "clip";
  width: "100%";
  gap: 0;
}

#loginItemLeft {
  width: "100%";
  max-width: "60%";
  height: "100vh";
  position: "relative";
  background: "linear-gradient(180deg, rgba(10,50,87,0), rgba(10,50,87,0.2), rgba(10,50,87,1))";
}

#loginItemLeft .overlayRectangle {
  position: "absolute";
  left: 0;
  bottom: 0;
  background: "rgba(10,50,87,1)";
  opacity: 0.7;
  width: "400px";
  height: "350px";
  filter: "blur(100px)";
}
